@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Nunito+Sans:wght@400;600;900&display=swap');

.imglogo{
    width: 50px;
    height: 50px;
    display:block;
    margin:auto;
}

.logo{
    padding: 0 40px;
    line-height: 80px;
}

.inicio{
    width: 132px;
    height: 30px;
    background: #FFDE59;
    border-radius: 10px;
    border-color: #FFDE59;
    font-family: Alatsi;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #3A3030;
    margin-right: 40px;

}

.sub{
    position: absolute;
    width: 525px;
    height: 235px;
    left: 98px;
    top: 200px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 95px;
    color: #FFD632;

}

.sub2{
    position: absolute;
    width: 525px;
    height: 235px;
    left: 98px;
    top: 260px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 95px;
    color: #FFD632;

}

.desc{
    position: absolute;
    width: 446px;
    height: 61px;
    left: 101px;
    top: 360px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #3A3030;
}

.recibo{
    position: absolute;
    width: 400px;
    height:400px;
    left: 750px;
    top: 150px;
}

.bempezar{
    position: absolute;
    width: 221px;
    height: 40px;
    left: 172px;
    top: 477px;
    background: #F0F0F0;
    border-radius: 50px;
    border-color: #F0F0F0;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;

}

.rectangulo{
    position: absolute;
    width: 458px;
    height: 44px;
    left: 322px;
    top: 155px;
    background: rgba(240, 240, 240, 0.6);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.subtitulo{

}