@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Nunito+Sans:wght@400;600;900&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
  /*========== Colors ==========*/

  /*========== Font and typography ==========*/
  --body-font: 'Altasi';
  --normal-font-size: .938rem;
  --h3-font-size: 1.125rem;
  --small-font-size: .75rem;
}

/*========== BASE ==========*/

.titulito{
  font-size: 18px;
}

.bd-container{
  width: 800px;
}

/*========== CARD GLASS ==========*/
.card{
  background-color: white;
}

.card__container{
  display: grid;
  gap: 1.5rem;
}

.card__glass{
  position: relative;
  text-align: center;
  padding: 2.5rem;
  background: rgba(229, 229, 229, 0.33);
  box-shadow: inset 2px 2px 1px rgba(251,251,254,.3)
              inset -2px -2px 1px rgba(251,251,254,.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
}

.card__data{
  margin-bottom: 1.5rem;
}
.card__title{
  font-size: 20px;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: .25rem;
}

.respuesta{
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
}

.ico{
  font-size: 40px;
}



/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 568px){
  .card__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .card{
    padding: 0;
  }

  .card__container{
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
  }

  .card__circle1{
    left: 5%;
    top: 12%;
  }

  .card__circle2{
    right: 8%;
    bottom: 15%;
  }
}