@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Nunito+Sans:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 102px;
    background: white;
    transition: all 0.5s ease;
    padding: 6px 14px;
}

.sidebar.active{
    width: 240px;
    background: #F0F0F0;
}

.sidebar .logo_content .logo{
    color: #3A3030;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;

}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo{
    font-size: 26px;
    font-family: Alatsi;
    font-style: normal;
    font-weight: normal;
    margin-right: 5px;
}

i{
    font-size: 25px;
    font-family: Alatsi;
    font-style: normal;
    font-weight: normal;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 22px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: black;
    top: 5px;
    left: 50%;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 60px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 60px;
    width: 100%;
    margin-left: 0;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
   
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #F0F0F0;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all o.5 ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: black;
    background: #FFDE59;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content{
    position: absolute;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
}

.sidebar.active #log_out{
    left: 88%;
}

.home_content{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 102px;
}

.home_content .text{
    font-size: 25px;
    font-family: Alatsi;
    font-style: normal;
    font-weight: normal;
    background: white;
    margin: 12px;
}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}