@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Nunito+Sans:wght@400;600;900&display=swap');

.content-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 900px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
.content-table thead tr {
    background-color: #FFE476;
    color: black;
    text-align: left;
    font-family: Alatsi;
    font-size: 16px;
}
  
.content-table th,
.content-table td {
    padding: 12px 15px;
}
  
.content-table tbody tr {
    border-bottom: 1px solid #f3f3f3;
}
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #FFDE59;
}
  
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #FFDE59;
}